<%- include('partials/header') %>
<div class="container">
<div style="position: relative;">
    <div class="container">
    <div class="row">
        <div class="col-sm">
        <p class="h1" style="padding-bottom: 3%; font-family: Roboto Condensed;"><b>Dashboard</b></p>
        <p class="lead" style="color:#3b3b3b; font-family: Roboto Condensed;">Total users: <%= totalUser-1 %></p>
        <p class="lead" style="color:#3b3b3b; font-family: Roboto Condensed;">Total number of requests: <%= totalRequests %> </p>
        <p class="lead" style="color:#3b3b3b; font-family: Roboto Condensed;">Total number of donations: <%= totalDonations %></p>
        </div>
        <div class="col-sm">
            <canvas id="chart" height="200" width="300"></canvas>
                <script>
                    //document.getElementById("eachMonthDonates").innerText;
                    var data = [0,0,0,1,4,1,2,4,1,2,7,8]
                    const ctx = document.getElementById('chart').getContext('2d');
                    const myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July','Aug','Sep','Oct','Nov','Dec'],
                                        datasets: [{
                                            label: 'Total requests per month',
                                            borderColor: 'rgb(211,33,45)',
                                            data: data
                                        },
                                        {
                                            label: 'Total donations per month',
                                            borderColor: 'rgb(132,222,2)',
                                            data: [0,0,0,0,13,0,12,0,0,20,0,0]
                                        }]
                                    },
                            options: {}
                        });
                </script>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Blood group</th>
        <th scope="col">Total requests/donations</th>
        </thead>
        <tbody>
            <% Users.forEach(function(user) { %>
                <tr>
                <th scope="row"><%= user.username %></th>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
                <td><%= user.bgroup %></td>
                <td><p>Undefined</p></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>

    
        
            <div class="col-sm"><p></p></div>
            <div class="col-sm"><p></p></div>
            <div class="col-sm"><p></p></div>
            <div class="col-sm"></div>
        
    

    <div class="jumbotron">
        <a href="/logout" class="btn btn-outline-secondary col-sm-2" role="button">Logout</a>
        <a href="/resetpw" class="btn btn-outline-info col-sm-2" role="button">Reset password</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>