<%- include('partials/header') %>
<style>
  .chart-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;
}
.chart-button:hover {
  background-color:grey;
  transition: 0.2s;
}
</style>
<!-- for bootstrap table -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


<div class="content">
    <!-- Navbar -->
<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/admin" style="color: #596e79"><i class="fa fa-medkit fa-1g" aria-hidden="true" style="color:#eb3f39"></i>  donation<b>Hub</b></a>
    <div>
        <a href="/logout" class="btn btn-outline-danger btn-sm" role="button"><b>Logout</b></a>
    </div>
  </nav>
<hr>
    <div class="container">
      <button class="btn btn-secondary open-chart-modal chart-button">Check blood group compatibility chart</button>
      <p class="lead">Request of <span style="color: red"><%= username %></span></p>
      <p class="lead"><b>Users who are compatible to donate to<span style="color: red"> <%= bgroup %></span></b><p>
  <div id="users-list">
    <form action="queues" method="post">
    <table id="userlist" class="table table-sm table-striped table-bordered " cellspacing="0" width="100%">
        <thead class="thead-dark">
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Username</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Address</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Blood group</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Total requests/donations</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Phone</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed; text-align: center;">
          <button class="btn btn-outline-warning btn-sm" >
            <b>Send SMS</b><i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          
        </th>
        </thead>
        <tbody>
            <input value="<%= username %>" name="requestusername" style="display: none;">
            <input value="<%= id %>" name="reqID" style="display: none;">
            <% users.forEach(function(user) { %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.address %></td>
                <td><%= user.bgroup %></td>
                <td>None</td>
                <td><%= user.phone %></td>
                <td style="text-align: center;">
                  <input type="checkbox" value="<%= user.username %>" name="username">
                </td>
              </tr>
            <% }) %>
        </tbody>
    </table>
    </form>
    <script>
      $(document).ready(function() {
          $('#userlist').DataTable();
          } );
    </script>
</div>
</div>
</div>
<!-- Blood group chart modal -->

<div class="blood-group-chart-modal">
  <div class="blood-group-modal-content" style="position:relative;">
    <%- include('partials/bloodgroupchart') %>
    <button type="button" class="close close-chart-modal" aria-label="Close" style="position:absolute; top:1%; left: 95%;">
      <span aria-hidden="true">&times;</span>
    </button>
      <script type="text/javascript">
          document.querySelector(".open-chart-modal").addEventListener('click', 
              function() {
                  document.querySelector(".blood-group-chart-modal").style.display = 'flex';
              });
          document.querySelector(".close-chart-modal").addEventListener('click', 
              function() {
                  document.querySelector(".blood-group-chart-modal").style.display = 'none';
              });
      </script>
  </div>
</div>

<%- include('partials/footer') %>