<%- include('partials/header') %>
<!-- for bootstrap table -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


<div class="content">
    <!-- Navbar -->
<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/admin" style="color: #596e79"><i class="fa fa-medkit fa-1g" aria-hidden="true" style="color:#eb3f39"></i>  donation<b>Hub</b></a>
    <div>
        <a href="/logout" class="btn btn-outline-danger btn-sm" role="button"><b>Logout</b></a>
    </div>
  </nav>
<hr>
    <div class="container">
        <p class="lead"><b>Users who are compatible to donate to<span style="color: red"> <%= bgroup %></span></b><p>
          <button class="btn btn-info open-chart-modal">Check blood group compatibility chart</button>
         
  <div id="users-list">
    <table id="userlist" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%">
        <thead class="thead-dark">
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Username</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Email</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Address</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Blood group</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Total requests/donations</th>
        <th scope="col" style="color:#ffffff; font-family: Roboto Condensed;">Send message via</th>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
                <td><%= user.bgroup %></td>
                <td>None</td>
                <td><a>SMS</a> / <a>Email</a></td>
              </tr>
            <% }) %>
        </tbody>
    </table>
    <script>
      $(document).ready(function() {
          $('#userlist').DataTable();
          } );
    </script>
</div>
</div>
</div>
<!-- Blood group chart modal -->

<div class="blood-group-chart-modal">
  <div class="blood-group-modal-content" style="position:relative;">
    <table class="table table-light table-bordered" style="width: 40%">
       <thead class="thead-dark">
      <tr>
          <th colspan="9" style="text-align: center;">Donors</th>
        </tr>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">O-</th>
          <th scope="col">O+</th>
          <th scope="col">B-</th>
          <th scope="col">B+</th>
          <th scope="col">A-</th>
          <th scope="col">A+</th>
          <th scope="col">AB-</th>
          <th scope="col">AB+</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">AB+</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">AB-</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">A+</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">A-</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">B+</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">B-</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">O+</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th scope="row">O-</th>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="close close-chart-modal" aria-label="Close" style="position:absolute; top:1%; left: 95%;">
      <span aria-hidden="true">&times;</span>
    </button>
      <script type="text/javascript">
          document.querySelector(".open-chart-modal").addEventListener('click', 
              function() {
                  document.querySelector(".blood-group-chart-modal").style.display = 'flex';
              });
          document.querySelector(".close-chart-modal").addEventListener('click', 
              function() {
                  document.querySelector(".blood-group-chart-modal").style.display = 'none';
              });
      </script>
  </div>
</div>

<%- include('partials/footer') %>