<%- include('partials/header') %>

<div class="content">
    <!-- Navbar -->
<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#" style="color: #596e79"><i class="fa fa-medkit fa-1g" aria-hidden="true" style="color:#eb3f39"></i>  donation<b>Hub</b></a>
    <a href="/notifications"><i class="fa fa-envelope fa-1g" aria-hidden="true" id="notification-icon"></i></a>
    <div>
        <button id="open-reset-modal" class="btn btn-warning btn-sm"><b>Reset password</b></button>
        <a href="/logout" class="btn btn-outline-danger btn-sm" role="button"><b>Logout</b></a>
    </div>
  </nav>
  <hr>
  <!-- Content user info-->
<div class="jumbotron"  style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-sm" style="margin-top: 5%;">
                <div class="row">
                <p class="h3" style="padding-bottom: 3%; font-family: arial;">Your personal info</p> 
                <button id="open-update-modal" class="btn btn-outline-info btn-sm" style="height: 50%; margin-left: 2%;">Update</button>
                </div>
                <p><b>Username: </b><%= user.username %></p>
                <p><b>Email: </b><%= user.email %></p>
                <p><b>Address and City: </b><%= user.address %>, <%= user.city %></p>
                <p><b>Phone number: </b><%= user.phone %></p>
                <p><b>Blood group: </b><%= user.bgroup %></p>
                <p>Last time you donated <%= user.donationDates.slice(-1)[0] %></p>
                <p>Last time you recieved <%= user.recieveDates.slice(-1)[0] %></p>
            </div>
            <div class="col-sm">
                <p class="h3" style="font-family: arial;">Your donations and requests history:</p>
                <!-- Chart canvas -->
                <canvas id="chart" height="200" width="300"></canvas>
                <script>
                    //document.getElementById("eachMonthDonates").innerText;
                    var data = [0,0,0,1,4,1,2,4,1,2,7,8]
                    const ctx = document.getElementById('chart').getContext('2d');
                    const myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July','Aug','Sep','Oct','Nov','Dec'],
                                        datasets: [{
                                            label: 'Total requests per month',
                                            borderColor: 'rgb(211,33,45)',
                                            data: data
                                        },
                                        {
                                            label: 'Total donations per month',
                                            borderColor: 'rgb(132,222,2)',
                                            data: [0,0,0,0,13,0,12,0,0,20,0,0]
                                        }]
                                    },
                            options: {}
                        });
                </script>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <a href="/donated" class="btn btn-outline-success col-sm-2" role="button">Donate</a>
        <a href="#" class="btn btn-outline-danger col-sm-2 btns request" role="button" id="open-request-modal">Request</a>
    </div>
</div>
</div>

<!-- request form modal -->

<div class="request-form-modal">
    <div class="request-modal-content">
        <form action="/requested" method="post">
            <div class="form-group row">
                <label for="bgroup" class="col-sm-3 col-form-label" style="padding: 0;">Blood Group:</label>
                <div class="col-md-3">
                  <select name="bgroup" class="selectpicker" style="margin-top: 2%;" data-style="btn-outline-danger" title="Choose blood group">
                    <option value="O Negative">O Negative</option>
                    <option value="O Positive">O Positive</option>
                    <option value="A Negative">A Negative</option>
                    <option value="A Positive">A Positive</option>
                    <option value="B Negative">B Negative</option>
                    <option value="B Positive">B Positive</option>
                    <option value="AB Negative">AB Negative</option>
                    <option value="AB Positive">AB Positive</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="city" class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-3">
                    <select name="city" class="selectpicker" data-style="btn-outline-danger" title="Choose city">
                        <option value="Jeddah">Jeddah</option>
                        <option value="Makkah">Makkah</option>
                    </select>                  
                </div>
            </div>
            <div class="form-group row">
                <label for="hospital" class="col-sm-3 col-form-label">Hospital:</label>
                <div class="col-sm-3">
                    <select name="hospital" class="selectpicker" data-style="btn-outline-danger" title="Choose Hospital">
                        <% admins.forEach(function(admin) { %>
                            <option value="<%= admin.hospitalName %>"> <%= admin.hospitalName %> </option>
                        <% }) %>
                    </select>                  
                </div>
            </div>
            <div style="text-align: center;">
              <a href="#" role="button" class="btn btn-light" id="close-request-modal">Cancel</a>
              <button type="submit" class="btn btn-danger">Request</button>
            </div>  
          </form>
        <script type="text/javascript">
            document.getElementById("open-request-modal").addEventListener('click', 
                function() {
                    document.querySelector(".request-form-modal").style.display = 'flex';
                });
            document.getElementById("close-request-modal").addEventListener('click', 
                function() {
                    document.querySelector(".request-form-modal").style.display = 'none';
                });
        </script>
    </div>
</div>

<!-- update modal form -->
<div class="update-form-modal">
    <div class="form-modal-content">
        <form action="/updateinfo" method="post">
            <%- include('partials/form') %>
            <div style="text-align: center;">
              <a href="#" role="button" class="btn btn-light" id="close-update-modal">Cancel</a>
              <button type="submit" class="btn btn-danger">Update</button>
            </div>  
          </form>
        <script type="text/javascript">
            document.getElementById("open-update-modal").addEventListener('click', 
                function() {
                    document.querySelector(".update-form-modal").style.display = 'flex';
                });
            document.getElementById("close-update-modal").addEventListener('click', 
                function() {
                    document.querySelector(".update-form-modal").style.display = 'none';
                });
        </script>
    </div>
</div>

<!-- password reset modal form -->
<div class="reset-modal">
    <div class="reset-modal-content">
        <form action="/resetPassword" method="post">
            <div class="form-group row">
                <label for="oldpassword" class="col-sm-4 col-form-label">Old Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" placeholder="Enter old password" name="oldpassword">
                </div>
              </div>
            <div class="form-group row">
              <label for="newpassword" class="col-sm-4 col-form-label">New Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Enter new password" name="newpassword">
              </div>
            </div>
            <a href="#" role="button" class="btn btn-light" id="close-reset-modal">Cancel</a>
              <button type="submit" class="btn btn-danger">Update</button>
        </form>
        <script type="text/javascript">
            document.getElementById("open-reset-modal").addEventListener('click', 
                function() {
                    document.querySelector(".reset-modal").style.display = 'flex';
                });
            document.getElementById("close-reset-modal").addEventListener('click', 
                function() {
                    document.querySelector(".reset-modal").style.display = 'none';
                });
        </script>
    </div>
</div>




<%- include('partials/footer') %>